body {
  font-family: "Inter", sans-serif;
  background-color: $body-bg;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $text;
}

.container {
  padding: 0 15px;
}

.hide {
  visibility: hidden;
}

.title,
.title-md,
.title-sm {
  font-weight: 400;
  line-height: 1.2;
  color: $title;
}

.title {
  text-align: center;
  font-size: 46px;
}

.title-md {
  border-left: 1px solid $accent;
  padding-left: 20px;
  text-align: left;
  font-size: 38px;
}

.title-sm {
  text-align: center;
  font-size: 22px;
}

.btn {
  display: inline-block;
  border-radius: 30px;
  padding: 18px 36px;
  background-color: $accent;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: $body-bg;
  transition: transform $fast;

  &:hover,
  &:active {
    transform: translateY(8px);
  }
}

.site-name {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 40px;
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-size: 200px;
  line-height: 1;
  color: $site-name;
}
